
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: demo
        image: docker.io/aminse82/demo-app:v1-dev
        env:
        - name: ENV
          value: "dev"
