namespace: demo-app-dev
bases:
  - ../../base
resources:
  - namespace.yaml
patchesStrategicMerge:
  - deployment-patch.yaml
images:
  - name: docker.io/aminse82/demo-app
    newTag: b21c867fe1988abae2017d25ac56c204b4c5c219
