
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo
        image: docker.io/aminse82/demo-app:latest
        ports:
        - containerPort: 80
        env:
        - name: ENV
          value: "base"
